*build*

*sublime-workspace


3rdparty/ASSIMP/

3rdparty/FMT/

3rdparty/GLUT/

3rdparty/GLEW/

3rdparty/GLFW3/

3rdparty/GLM/

3rdparty/SOIL/

3rdparty/FLAC/

3rdparty/LIBSNDFILE/

3rdparty/OGG/

3rdparty/OPENAL/

3rdparty/OPUS/

3rdparty/VORBIS/

tags

slides/*/*.aux
slides/*/*.log
slides/*/*.nav
slides/*/*.out
slides/*/*.snm
slides/*/*.synctex.gz
slides/*/*.toc
slides/*/*.vrb
slides/*/_minted-*/
slides/*/*.fdb_latexmk
slides/*/*.fls
